@import 'variables';
@import 'mixins';

.hero-section {
  height: 100vh;
  transform: translateY(50px); // half the height of the header
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/portrait1.png");
  z-index: -1;
  opacity: 0.2;
}

.big-logo {
  width: 560px;
  height: auto;
}

.head-line {
  // color: $primary;
  text-align: center;
  font-size: 2.1em;
}

.sub-line {
  // color: $primary;
  text-align: center;
  font-size: 2.8em;
  font-weight: 700;
}

.line {
  height: 0.5px;
  width: 100px;
  border: $secondary 0.5px solid;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  border: $secondary 2px solid;
}

.big-dot {
  height: 60px;
  width: 60px;
}

custom-button {
  width: fit-content;
}

img {
  width: 80%;
}

.prestations {
  height: 450px;
}

.prestation-card {
  position: relative; // to position the corner-borders
  height: 300px;
  width: 42%;
  border-radius: 40px;
  border: 0.5px solid $primary;
}

.corner-borders {
  height: 50px;
  width: 50px;
  border-color: $primary; 
  border-style: solid;
}

.top-left {
  position: absolute;
  top: -26px;
  left: -26px;
  border-radius: 50px 0 0 0;
  border-width: 9px 0 0 9px;
}

.bottom-right {
  position: absolute;
  bottom: -26px;
  right: -26px;
  border-radius: 0 0 50px 0;
  border-width: 0 9px 9px 0;
}

.top-right {
  position: absolute;
  top: -26px;
  right: -26px;
  border-radius: 0 50px 0 0;
  border-width: 9px 9px 0 0;
}

.bottom-left {
  position: absolute;
  bottom: -26px;
  left: -26px;
  border-radius: 0 0 0 50px;
  border-width: 0 0 9px 9px;
}
