@import 'variables';
@import 'mixins';

.hero-section {
  height: calc(100vh + 80px); // screen height + waves svg height
  background: center / cover url('../../../assets/images/background-vortex-grain.png');
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
}

.big-logo {
  width: 80%;
  height: auto;
  
  @include media-breakpoint-up(md) {
    width: 500px;
  }
}

.head-line {
  text-align: center;
  font-size: 1.8em;
  
  @include media-breakpoint-up(md) {
    font-size: 2.1em;
  }
}

.presentation-section img {
  object-fit: contain;
}

.slider-container {
  width: 100%;
  height: 580px;
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 600%; // 100% * slides number
}

.slide-item {
  overflow: hidden;
  min-width: calc(100%/6); // 100% / slides number
  height: 100%;
}

.slide-item img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.slider-container:hover {
  .arrows {
    opacity: 1;
  }
}

.arrows {
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

button {
  background: none;
  border: none;
}

.arrow-left svg,
.arrow-right svg {
  stroke: $white !important;
  filter: drop-shadow(0 0 1px rgb(51, 51, 51));
}

.prestations-section {
  background-color: $primary;
}

.prestations {
    width: 80%;
    
    @include media-breakpoint-up(md) {
    width: 42%;
  }
}

resume-prestations-card {
  width: 100%;
}

three-dots {
  width: fit-content;
}
