@import 'variables';
@import 'mixins';

.hero-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-logo {
  width: 500px;
  height: auto;
}

.head-line {
  text-align: center;
  font-size: 2.1em;
}

.sub-line {
  text-align: center;
  font-size: 2.8em;
  font-weight: 700;
}

img {
  width: 80%;
}

.prestations-section {
  @include media-breakpoint-up(md) {
    height: 500px;
  }
}

resume-prestations-card {
  width: 100%;
  height: fit-content;
  
  @include media-breakpoint-up(md) {
    width: 42%;
  }
}
