.logo-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-logo {
    width: 560px;
    height: auto;
}

.head-line {
    color: #62BDA8;
    margin-top: 40px;
    text-align: center;
    font-size: 2.4em;
    font-weight: 400;
}
