@import "./variables";

.label {
    font-weight: bold;
    display: block;

    span {
        font-weight: 500;
        font-style: italic;
    }
}

input, textarea {
    border: 1px solid $primary;
    border-radius: 12px;
    width: 100%;
    outline: none;

    &:focus, &:focus-visible {
        outline: 2px solid $primary;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $white inset !important;
}

button {
    background-color: $primary;
    border: none;
    border-radius: 12px;
    color: $white;
    width: fit-content;

    &:disabled {
        background-color: #a3cfc6;
    }
}
