<div class="box">
  <div class="d-flex flex-column h-100">
    <h2 class="text-center">{{ title }}</h2>
    <!-- <div class="line mx-auto mt-1"></div> -->
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <div class="text-center fw-bold d-flex flex-column gap-2">
        <p>{{ presta1 }}</p>
        <p>{{ presta2 }}</p>
        <p>{{ presta3 }}</p>
        <p>{{ presta4 }}</p>
        <p>{{ presta5 }}</p>
      </div>
    </div>
  </div>
  <div class="d-none d-md-{{ TLdisplay }} corner-borders top-left"></div>
  <div class="d-none d-md-{{ BRdisplay }} corner-borders bottom-right"></div>
  <div class="d-none d-md-{{ TRdisplay }} corner-borders top-right"></div>
  <div class="d-none d-md-{{ BLdisplay }} corner-borders bottom-left"></div>
</div>
