@import "./variables";

.dot {
  height: 26px;
  width: 26px;
  border-radius: 26px;
  border: solid 3px $secondary;
}

.vertical-line {
  width: 1px;
  height: 100%;
  border: solid 1px $secondary;
}
