<div class="box w-100 white">
  <div class="d-flex flex-column justify-content-between h-100">
    <div>
      <h2 class="text-center text-blue m-0">{{ titre }}</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center my-4">
      <div class="text-center fw-bold d-flex flex-column gap-1">
        <p>{{ presta1 }}</p>
        <p>{{ presta2 }}</p>
        <p>{{ presta3 }}</p>
        <p>{{ presta4 }}</p>
        <p>{{ presta5 }}</p>
      </div>
    </div>
    <three-dots color="blue" class="mx-auto pb-2"></three-dots>
  </div>
</div>
