@import './variables';
@import './bootstrap';

@font-face {
  font-family: "Quicksand";
  font-weight: 300;
  src: url(/assets/fonts/Quicksand-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url(/assets/fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: url(/assets/fonts/Quicksand-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  src: url(/assets/fonts/Quicksand-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url(/assets/fonts/Quicksand-Bold.ttf) format("truetype");
}

body {
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  justify-content: space-between;
}

app-root {
  min-height: 100vh;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.page-content {
  flex-grow: 1;
}

.frame {
  width: 85vw;
  max-width: 90rem;
  margin: auto;
}
