@import './variables';
@import './bootstrap';

@font-face {
  font-family: 'worldOfWater';
  font-weight: 400;
  src: url(/assets/fonts/world-of-water.otf) format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  src: url(/assets/fonts/Quicksand-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url(/assets/fonts/Quicksand-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  src: url(/assets/fonts/Quicksand-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 600;
  src: url(/assets/fonts/Quicksand-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url(/assets/fonts/Quicksand-Bold.ttf) format('truetype');
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  justify-content: space-between;
  background-color: $white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--bs-body-color);
}

p {
  margin: 0;
  font-size: 1.1em;
}

.page-content {
  flex-grow: 1;
}

.frame {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 0 16px;
    
    @include media-breakpoint-up(md) {
    padding: 0;
    width: 75vw;
  }
}

h1 {
  font-family: 'worldOfWater', Copperplate, fantasy;
  font-size: 4.8em;
  color: $primary;

  @include media-breakpoint-up(md) {
    font-size: 6em;
  }
}

h2 {
  font-family: 'worldOfWater', Copperplate, fantasy;
  color: $primary;
}

h3 {
  font-size: 2.4em;
  font-weight: 700;
  
  @include media-breakpoint-up(md) {
    font-size: 2.8em;
  }
}

.text-big {
  font-size: 1.4em;
}

.text-blue {
  color: $primary;
}

.text-yellow {
  color: $secondary;
}

.text-white {
  color: $white;
}

.blue {
  background-color: $primary;
}

.yellow {
  background-color: $secondary;
}

.white {
  background-color: $white;
}

bracket-button {
  width: fit-content;

  &:hover {
    .yellow-detail {
      color: $secondary;
      transition: all ease-in-out 200ms;
    }
  }
}

.font-variant {
  font-weight: 700;
  font-size: 0.68em;
  text-transform: uppercase;
}

.waves {
  width: 100%;
  overflow: hidden;
}

.waves svg {
  display: block;
  height: 30px;
  width: 100%;
  fill: $white;
  
  @include media-breakpoint-up(md) {
    height: 80px;
  }
}

.top-waves {
  top: -1px;
}

.bottom-waves {
  bottom: -1px;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}
