@import "./variables";
@import "./mixins";

.variant {
  font-weight: 700;
  font-size: 0.68em;
  text-transform: uppercase;
}

.portrait {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  
  @include media-breakpoint-up(sm) {
      width: 300px;
  }
  
  @include media-breakpoint-up(xl) {
      aspect-ratio: auto;
      width: 30%;
  }
}

.presentation-text {
  @include media-breakpoint-up(xl) {
    width: 60%;
  }
}

.blue-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: $primary;
}

.presta-card {
  border: 1px solid rgb(226, 226, 226);
  padding: 20px;
  border-radius: 20px;
}
