@import "./variables";
@import "./mixins";

.portrait {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  
  @include media-breakpoint-up(sm) {
      width: 300px;
  }
  
  @include media-breakpoint-up(xl) {
      aspect-ratio: auto;
      width: 30%;
  }
}

.presentation-text {
  @include media-breakpoint-up(xl) {
    width: 60%;
  }
}

.presta-card {
  border: 1px solid rgb(226, 226, 226);
  padding: 20px;
  border-radius: 20px;
}
