@import 'variables';
@import 'mixins';

header {
  z-index: 10;
  padding: 0 16px;

  @include media-breakpoint-up(md) {
    padding: auto;
  }
}

.header-logo {
  cursor: pointer;

  img {
    width: 60px;
    height: auto;
  }
}

.menu-item {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 4em;
  transition: all 200ms ease-in-out;
  // position: relative;

  &:hover {
    color: $primary;
  }

  &.active-link {
    color: $primary;
  }

  // svg {
  //   position: absolute;
  //   left: -20%;
  //   top: -44%;
  //   width: 140%;
  //   height: 160%;
  //   opacity: 0;
  //   stroke-dasharray: 1500;
  //   stroke-dashoffset: 1500;
  //   transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  // }

  //.active svg {
  //   opacity: 1;
  //   stroke-dashoffset: 0;
  //   transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // }
}

.active-landing .menu-item {
  color: $white;

  &:hover {
    color: $secondary;
  }

  &.active-link {
    color: $secondary;
  }
}

.burger {
  height: 24px;
  z-index: 100;

  .burger-line {
    height: 4px;
    width: 32px;
    background-color: $primary;
    border-radius: 30px;
  }
}

.landing-burger .burger-line {
  background-color: $white;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;

  .popup-menu-item {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;

    &.active-link {
      color: $primary;
    }
  }
}

footer {
  background-color: $primary;
  color: $white;

  .footer-logo img {
    width: 100%;
    height: auto;
  }
}

.details {
  a {
    color: $white;
  }

  img {
    width: 30px;
  }
} 

.footer-item {
  font-size: 1.1em;
  color: $white;

  &:hover {
    color: $secondary;
  }
}
