@import 'variables';

header {
  z-index: 10;
}

.header-logo {
  cursor: pointer;

  img {
    width: 60px;
    height: auto;
  }
}

.menu-item {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 4em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;

  &:hover {
    color: $primary;
  }

  &.active-link {
    color: $primary;
  }

  // svg {
  //   position: absolute;
  //   left: -20%;
  //   top: -44%;
  //   width: 140%;
  //   height: 160%;
  //   opacity: 0;
  //   stroke-dasharray: 1500;
  //   stroke-dashoffset: 1500;
  //   transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  // }

  //.active svg {
  //   opacity: 1;
  //   stroke-dashoffset: 0;
  //   transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // }
}

footer {
  background-color: $primary;
  color: $white;
}

.details {
  width: fit-content;

  img {
    width: 30px;
  }
}

.footer-item {
  font-size: 1.1em;
  color: $white;

  &:hover {
    color: $secondary;
  }
}
