<div class="screen">
    <header>
        <div class="menu">
            <div class="menu-item" routerLink="landing">accueil</div>
            <div class="menu-item" routerLink="about">à propos</div>
            <div class="menu-item" routerLink="portfolio">portfolio</div>
            <div class="menu-item" routerLink="contact">contact</div>
        </div>
    </header>
    
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
    
    <footer>
        <hr>
        <div class="footer">Here's a  footer</div>
    </footer>  
</div>