<div>
  <header class="w-100 d-flex position-absolute justify-content-between align-items-center px-md-5 py-3">
    <div class="header-logo" routerLink="landing">
      <img src="assets\images\symbol-1-color-green.png" alt="logo-asteroid-website" />
    </div>
    <div class="menu d-none d-md-flex" [ngClass]="{ 'active-landing': rla.isActive }">
      <a class="menu-item" routerLink="/landing" routerLinkActive="active-link" #rla="routerLinkActive">
        accueil
        <!-- <ng-container *ngTemplateOutlet="handdrawborder"></ng-container> -->
      </a>
      <a class="menu-item" routerLink="/about" routerLinkActive="active-link"> à propos </a>
      <a class="menu-item" routerLink="/portfolio" routerLinkActive="active-link"> portfolio </a>
      <a class="menu-item" routerLink="/contact" routerLinkActive="active-link"> contact </a>
    </div>
    <div
      class="burger d-flex flex-column justify-content-between d-md-none"
      [ngClass]="{ 'landing-burger': rla.isActive && !isOpen }"
      (click)="onClick()">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
      <div class="burger-line"></div>
    </div>
    <div
      class="popup d-flex d-md-none flex-column justify-content-center align-items-center gap-4"
      [ngClass]="isOpen ? 'd-flex' : 'd-none'">
      <div>
        <a class="popup-menu-item" routerLink="/landing" routerLinkActive="active-link" (click)="onClick()">
          accueil
          <div class="underline mt-1"></div>
        </a>
      </div>
      <div>
        <a class="popup-menu-item" routerLink="/about" routerLinkActive="active-link" (click)="onClick()">
          à propos
          <div class="underline mt-1"></div>
        </a>
      </div>
      <div>
        <a class="popup-menu-item" routerLink="/portfolio" routerLinkActive="active-link" (click)="onClick()">
          portfolio
          <div class="underline mt-1"></div>
        </a>
      </div>
      <div>
        <a class="popup-menu-item" routerLink="/contact" routerLinkActive="active-link" (click)="onClick()">
          contact
          <div class="underline mt-1"></div>
        </a>
      </div>
    </div>
  </header>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="mt-5">
    <div class="footer-content frame pt-5 mt-4 pb-4">
      <div class="d-md-flex justify-content-between gap-5">
        <div class="footer-logo pb-5 pb-md-0">
          <img src="assets\images\logo-color-white.png" alt="" />
        </div>
        <div class="details text-center text-md-start">
          <h5 class="fw-bold mb-3"><span class="text-big">Asteroid Studio</span></h5>
          <h5 class="m-0">12 rue de Porspol</h5>
          <h5>29660 Carantec</h5>
          <h5>06 86 24 74 88</h5>
          <a href="mailto:astrid.polart@gmail.com?subject=Asteroid : demande client"><h5>astrid.polart&#64;gmail.com</h5></a>
          <!-- <div class="d-flex justify-content-center gap-5 justify-content-md-between pt-5">
            <img src="https://ik.imagekit.io/ast/Asteroid%20icons/rocket-white.png" alt="" />
            <img src="https://ik.imagekit.io/ast/Asteroid%20icons/rocket-white.png" alt="" />
            <img src="https://ik.imagekit.io/ast/Asteroid%20icons/rocket-white.png" alt="" />
          </div> -->
        </div>
      </div>
      <div class="mt-5 pt-5 d-xl-flex justify-content-between mx-auto">
        <div class="d-md-flex justify-content-center gap-5 pb-5 pb-md-4 pb-xl-0 text-center">
          <a class="footer-item d-block mb-3 mb-md-0" routerLink="/about">Politique de confidentialité</a>
          <a class="footer-item d-block" routerLink="/about">Mentions légales</a>
        </div>
        <p class="text-center">© 2023 Asteroid Studio | Astrid Polart | Tous droits réservés</p>
      </div>
    </div>
  </footer>
</div>

<!-- <ng-template #handdrawborder>
  <svg
    width="686"
    height="187"
    viewBox="0 0 686 187"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M197.5 51.5C110 42 2.63249 65.066 5.00001 107.5C7.36752 149.934 110 174.498 292 181C503.126 188.543 676.218 165.148 680.5 112.708C689.5 2.49998 288 -13.5 146.5 21"
      stroke="#62BDA8"
      stroke-width="9"
      stroke-linecap="round"
    />
  </svg>
</ng-template> -->
