@font-face {
	font-family: 'Quicksand';
    font-weight: 300;
	src: url(\assets\fonts\Quicksand-Light.ttf) format("truetype");
}

@font-face {
	font-family: 'Quicksand';
    font-weight: 400;
	src: url(\assets\fonts\Quicksand-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Quicksand';
    font-weight: 500;
	src: url(\assets\fonts\Quicksand-Medium.ttf) format("truetype");
}

@font-face {
	font-family: 'Quicksand';
    font-weight: 600;
	src: url(\assets\fonts\Quicksand-SemiBold.ttf) format("truetype");
}

@font-face {
	font-family: 'Quicksand';
    font-weight: 700;
	src: url(\assets\fonts\Quicksand-Bold.ttf) format("truetype");
}

body {
    background-color: #282742;
    color: #fff;
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    justify-content: space-between;
}

app-root {
    min-height: 100vh;
}

.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
    margin: 40px 0;
}

.menu {
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
    margin: 2em 4em;
}

.menu-item {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-left: 4em;
    cursor: pointer;
}

footer {
    text-align: center;
    text-transform: uppercase;
}

.footer {
    padding: 20px;
}

.page-container {
    width: 85vw;
    margin: auto;
}
